*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 145, 54);
}

.container{
  width:500px;
  height:200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius:15px;
}

.timer-container{
  margin-bottom: 20px;
}

h3{
  font-size: 40px;
}

.btn-container{
  display:flex;
  flex-direction:row;
  width: 80%;
  justify-content: space-around;
}

button{
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(46, 236, 46);
  color:black;
  transition: 0.3 ease;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background-color: rgb(253, 155, 26);
}