body{
  font-family:sans-serif;
  font-size:18px;
  font-weight:bold;
  margin:0;
  min-height:100vh;
}

*{
  box-sizing: border-box;
}

header,nav,main,aside,footer{
  padding:12px;
  text-align:center;
}

.container{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.column{
  display:flex;
  /* justify-content: center; */
  flex:1;
}

header{
  background-color: crimson;
  color: white;
  height: 60px;
  justify-content: center;
}

footer{
  background-color: gainsboro;
  color: rgb(17, 0, 255);
  height:60px;
  margin-top: auto;
}

nav{
  background-color: coral;
  flex-shrink: 0;
  width:150px;
  color:#333
}

aside{
  background:sandybrown;
  flex-shrink:0;
  width:150px;
  color:#333;
}

main{
  background-color: moccasin;
  flex-grow: 1;
  color:#333;
}